

body{
    margin: 0;
    background: rgb(145, 117, 26);
    font-size: 18px;
}




/*^ START TypoGraphy */


h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid rgb(145, 117, 26);
}

/*! END Typography */



/*^ START layout */

/*- NAVIGATION */
header{
    background: rgb(246, 204, 68);
}


/*- flexbox */
.content{
    max-width: 960px;
}

.container-row{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.container-column{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container-space-between{
    justify-content: space-between;
}

.container-row{
    flex-direction: row;
}

.col-1{
    flex-basis: 22%;
}
.col-2{
    flex-basis: 47;
}
.col-3{
    flex-basis: 72%;
}
.col-4{
    flex-basis: 97%;
}



.row-1{
    height: 22%;
}
.row-2{
    height: 47%;
}
.row-3{
    height: 72%;
}
.row-4{
    height: 97%;
}

















/* ttt board */

.ttt-table{
    border: 1px solid green;
    background: white;
    padding: 20px;
    min-height: 400px;
}







.form{
    background: rgb(193, 177, 34);
    padding: 10px;
}

.btn-primary{
    background:rgb(145, 117, 26);

}

input.text-input{
    border-radius: .5em;
    margin-left: 1em;
    padding: 1em;
}
input.btn-primary{
    padding: 1em;
}
input.btn-primary:hover, input.btn-primary:focus{
    background: green;
    color:black;
}


/*! END Layout */