

body{
    margin: 0;
    background: rgb(145, 117, 26);
    font-size: 18px;
}




/*^ START TypoGraphy */


h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid rgb(145, 117, 26);
}

/*! END Typography */



/*^ START layout */

/*- NAVIGATION */
header{
    background: rgb(246, 204, 68);
}


/*- flexbox */
.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col-1{
    flex-basis: 22%;
}
.col-2{
    flex-basis: 47;
}
.col-3{
    flex-basis: 72%;
}
.col-4{
    flex-basis: 97%;
}

.container-row{
    flex-direction: row;
}



/* ttt board */
.ttt-items{
    height: 5em;
    border: 1px solid yellow;
}
.ttt-item{
    width: 5em;
    border: 1px solid blue;
}











.form{
    background: rgb(193, 177, 34);
    padding: 10px;
}

.btn-primary{
    background:rgb(145, 117, 26);

}

input.text-input{
    border-radius: .5em;
    margin-left: 1em;
}




/*! END Layout */